.navbar{
  list-style-type: none;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  background-color: #FE9022;

}
html,body{
  margin: 0px;
  padding: 0px;
}
.nav-element{
  display: inline;
}
.nav-element a{
  border-radius: 2px;
  text-decoration: none;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-element a:hover{
  background-color: #FFC548;
}
.btn-drop-down{
  display: none;
}
input{
  -webkit-appearance:none;
}
input[type=text]{
  text-align: center;
}
img{
  width: 100%;
}
h1{
  text-align:center;
}
@media screen and (max-width:768px){
  .drop-down{
    position: relative;
    display: list-item;
    width: 100%;
    background-color: #FE9022;
  }
  .btn-drop-down{
    display: inline;
    border: 5px;
    border-radius: 1px;
    background-color: #FFC548;

  }
  .navbar{
    padding: 0px;
    display: none;
    position: absolute;
    background-color:#FE9022;

  }
  .nav-element{
    display: block;
  }
  .nav-element a:hover{
    display: block;
  }
  .nav-element a{
    border-radius: 2px;
    text-decoration: none;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    /*margin-left: 0px;*/
  }

}
